<h2>Here are all the recipes</h2>

<% @recipes.each do |recipe| %>
  <strong>id:<%= recipe.id %></strong>
  <p>title:<a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></p>
  <p>chef:<%= recipe.chef %></p>
<% end %>

<a href="/recipes/new">Would you like to make a new recipe? if so, click here!!!</a>
